body , html {
	background-color: #597272;
	font-family: Sans-serif;
	margin: auto 0;
	height: 100%;
	width: 100%;
}
header {
	height: 15%;
	width: 100%;
	background-color: #475B5B;
	font-size: 100px;
	text-align: center;
	color: white;
}
nav {
	height: 6%;
	width: 100%;
	background-color: DarkSlateGray;
	text-align: center;
	color: white;
	word-spacing: 10px;
	font-size: 44px;
}
nav a {
	text-decoration: none;
	color: white;
	height: 100%;
	display: inline-block;
}
nav a:hover {
	background-color: #1E3232;
}
content {
	background-color: #475B5B;
	margin-left: 15%;
	height: 80%;
	width: 70%;
	float: left;
	font-size: 50px;
	text-align: center;
	text-decoration: underline;
}
footer {
	width: 100%;
	height: 15%;
	background-color: DarkSlateGray;
	clear: both;
	text-align: center;
	padding: 15px;
	color: white;
}
.Spinning {
	float: Left;
	height: 600px;
	width: 875px;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}